@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "bmRegular";
    src: url(BlackMango-Regular.ttf);
}
@font-face {
    font-family: "bmBold";
    src: url(BlackMango-Bold\ copy.ttf);
}
